<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/static/about_us.css" />
  </head>
  <body>
    <section class="container">
      <div class="card">
        <div class="image">
          <img src="/static/images/Arnab.jpg" alt="Arnab" />
        </div>
        <h2>Arnab Singha</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      </div>
      <div class="card">
        <div class="image">
          <img src="#" alt="Anulya" />
        </div>
        <h2>Anulya P</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      </div>
      <div class="card">
        <div class="image">
          <img src="/static/images/Surya.jpg" alt="Surya" />
        </div>
        <h2>Surya Thej C</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      </div>
      <div class="card">
        <div class="image">
          <img src="#" alt="Prof" />
        </div>
        <h2>Kush Khurana</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      </div>
    </section>
  </body>
</html>

