<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotsAshoka</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="/static/dining.css">
    <script src="/static/dining.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <a href="https://www.ashoka.edu.in/campus-facilities/" class="logo">
            <img src="/static/images/uni.jpg" alt="logo">
            <h2>BotsAshoka</h2>
        </a>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/rate">Rate Us</a></li>
            <li><a href="/dining">Dining Menu</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/rated">Rated</a></li>
        </ul>
    </nav>

    <div class="blur-bg-overlay"></div>

    <table id="menuTable">
        <thead>
            <tr>
                <th>Day</th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
            </tr>
        </thead>
        <tbody id="menuBody">
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
    <script>
        var csvFilePath = "/static/menu.csv";

        Papa.parse(csvFilePath, {
            download: true,
            header: true,
            complete: function (results) {
                var menuItems = results.data;
                console.log(menuItems);
                var tableBody = document.getElementById('menuBody');
                menuItems.forEach(function (menuItem) {
                    var row = document.createElement('tr');
                    row.innerHTML = '<td>' + menuItem.Day + '</td><td>' + menuItem.Breakfast + '</td><td>' + menuItem.Lunch + '</td><td>' + menuItem.Dinner + '</td>';
                    tableBody.appendChild(row);
                });
            }
        });
    </script>
</body>
</html>
