<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The BotsArmy - Rated Page</title>
    <link rel="stylesheet" href="/static/about_us.css" />
    <script src="/static/abt.js" defer></script>
</head>
<body>
  <div>
    <nav class="navbar navbar ">
      <span class="hamburger-btn material-symbols-rounded">menu</span>
      <a href="#" class="logo">
          <img src="/static/images/logo.png" alt="logo">
          <h2>BotsAshoka</h2>
      </a>
      <ul class="links">
          
          <li><a href="/home">Home</a></li>
          <li><a href="/rate">Rate Us</a></li>
          <li><a href="#">Dining Menu</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="/rated">Rated</a></li>
          <span class="close-btn material-symbols-rounded">close</span>
      </ul>
    </nav>
  </div>

  <div class="ratings">
    <h1>Rated Page</h1>
    <ul>
        {% for rating in ratings %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>
  </div>
</body>
</html>
